<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>REPLACE THIS FILE</key>
	<string>You can get your own GoogleService-Info.plist file from the Firebase console.</string>
</dict>
</plist>
